@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=DM+Serif+Text:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: "Lato", sans-serif;
  background-color: #FFFFFF;
  font-size: 1rem;
  /* Base font size, scales with screen size */
  line-height: 1.6;
  /* Improves readability */
  padding: 0;
  margin: 0;
}

/* ServicesSection.css */
.service-card {
  background-size: cover;
  background-position: center;
  height: 120% !important;
}

.img-fluid-icon {
  filter: contrast(5.5);
  margin-left: -70%;
  width: 60%;
  height: 7vh;
}




header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  margin-left: 5%;
  width: 90%;
  background-color: #8e887f75 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-nav1 {
  position: relative;
  /* Ensure the pseudo-element is positioned correctly */
}

.navbar-nav1:hover {
  text-decoration: underline;
}

.navbar-nav1:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #FDB813;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  /* Initial state */
  transform-origin: 50% 50%;
  transition: transform 0.3s ease-out;
}

.navbar-nav1:hover:after {
  transform: scaleX(1);
  /* Scale on hover */
}

.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%),
    url('./components/images/bg5.jpg');
}

.navbar-nav {
  margin-left: 50%;
}

/* Toggler icon styles */
.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath stroke="currentColor" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
  background-size: 1.5rem;
  background-repeat: no-repeat;
}

/* Styles for navbar on small screens */
@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    /* Adjust as needed */
    height: 100vh;
    background-color: #000000d1;
    /* Dark background for the menu */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .navbar-collapse.show {
    transform: translateX(0);
  }

  .navbar-nav {
    flex-direction: column;
    margin-top: 60px;
    /* Adjust to move menu items down from the top */
  }

  .nav-link {
    color: white;
    padding: 1rem;
    text-align: center;
  }
}

/* Adjusting the header when the navbar is open */
header {
  position: relative;
  z-index: 1000;
}


html {
  font-size: 100%;
  /* Default font-size scales with zoom level */
}

/* we responsive  */
@media (min-width: 985px) and (max-width: 1234px) {
  .below-3-col {
    margin-top: 20% !important;
    margin-bottom: 7% !important;
  }

}

@media (min-width: 768px) and (max-width: 985px) {
  .below-3-col {
    margin-top: 35% !important;
    margin-bottom: 15% !important;

  }
}

/* Corrected styles for mobile-specific adjustments */
@media (max-width: 768px) {

  .navbar-nav1 {
    flex-direction: column;
    /* Stack links vertically on mobile screens */
    align-items: center;
    /* Center-align links horizontally */
    gap: 8px;
  }

  .display-4 {
    font-size: 2rem;
  }

  .bg-image h1 {
    font-size: 1.5rem !important;
  }

  .bg-image p {
    font-size: 0.8rem !important;
  }


  .bg-image {
    width: 154%;
    min-height: 300px;
    padding: 20px;
    margin-top: 33px;
  }

  .bg-circle {
    padding: 135px;
  }

  .col-md-4 {
    margin-bottom: 185px;
  }

  .row-cols-2 {
    flex-direction: column;
    width: 122%;
    align-items: center;
  }

  .card-body p {
    margin-bottom: 10% !important;
  }

  .service-card .below {
    margin-top: 10%;
  }

  .col .text-center {
    margin-bottom: 20px;
  }

  .text-lg-start {
    font-size: 0.9rem;
  }


  .below-3-col {
    margin-top: 0% !important;
    margin-bottom: -30% !important;
  }
}

@media (max-width: 580px) {
  .bg-circle {
    padding: 47%;
  }

  .bg-image h1 {
    font-size: 1rem !important;
  }

  .bg-image p {
    font-size: 0.7rem !important;
  }

  .service-card .below {
    margin-top: 10%;
  }

  .card-body p {
    margin-bottom: 0% !important;
  }
}

@media (max-width: 420px) {
  .logo-size {
    font-size: 0.8rem !important;
  }

  footer {
    font-size: 0.6rem !important;
  }
}